body {
  padding: 0;
  margin: 0;
}

.navheader {
  position: relative;
  background-color: #272a31;
  color: white;
  overflow: hidden;
  padding-right: 150px;
}

.icons-and-links {
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
  left: 64%;
}

#nav-header-icon {
  margin-left: 10px;
}

#nav-header-icon:hover {
  cursor: pointer;
}

.nav-header-links ul {
  display: flex;
  list-style: none;
}

.nav-header-links ul li {
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-header-links ul li a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  background-color: #fff;
  filter: drop-shadow(0 10px 0.85rem rgb(214, 214, 214));
}

.nav-brand-and-links {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0 0 0 20%;
}

.nav-brand {
  display: block;
}

.web-logo {
  height: 120px;
  margin: 0;
  padding: 0;
}

.nav-bar-links {
  display: flex;
  position: relative;
  left: 430px;
}

.nav-bar-links ul {
  display: flex;
  list-style: none;
  margin-right: 1rem;
  padding: 0;
}

.nav-bar-links ul li {
  display: flex;
  margin-right: 10px;
  padding: 1rem;
}

.nav-bar-links ul li:nth-child(7) {
  color: red;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  border-style: solid;
  border-width: 5px;
}

.nav-bar-links ul li a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.nav-bar-links ul li a:hover {
  color: red;
}

.toggle-btn {
  height: 30px;
  width: 30px;
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: none;
  justify-content: space-evenly;
  flex-direction: column;
}

.toggle-btn .bars {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: #272a31;
  display: none;
}

@media (max-width: 1600px) {
  .nav-brand {
    padding-left: 7%;
    display: block;
  }

  .nav-bar-links {
    display: flex;
    position: relative;
    left: 230px;
  }
}

@media (max-width: 1200px) {
  .nav-brand {
    padding-left: 0;
    display: block;
  }

  .nav-bar-links {
    display: flex;
    position: relative;
    left: 10px;
  }

  .nav-brand-and-links {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 0 0 10%;
  }
}

@media (max-width: 768px) {
  .navheader {
    display: none;
  }

  .nav-bar {
    background-color: #d1d1d1;
  }

  .nav-brand {
    display: none;
  }

  .toggle-btn {
    display: flex;
  }

  .toggle-btn .bars {
    display: block;
  }

  .nav-bar-links {
    display: none;
    margin-top: 50px;
  }

  .nav-bar-links ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-right: 1rem;
    padding: 0;
  }

  .nav-bar-links ul li {
    display: flex;
    margin-right: 20px;
    padding: 1rem;
  }

  .nav-bar-links ul li a {
    font-family: "lato", sans-serif;
    font-weight: 700;
    font-size: 25px;
  }

  .li:nth-child(6) {
    color: red;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    border-style: none;
  }

  .nav-bar-links.active {
    display: flex;
  }
}

.header {
  display: flex;
  background-image: url(images/headerbg.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 850px;
  width: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-and-text {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.header-title-1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 50px;
  padding: 0;
  margin-top: 10px;
  color: #ec5242;
}

.header-title-2 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 60px;
  padding: 0;
  margin-top: 10px;
  max-width: 100000px;
  color: #ec5242;
}

.aboutme-header-hr {
  width: 25%;
  color: #ec5242;
  border-style: solid;
  padding: 0;
  margin: 0;
  position: relative;
  bottom: 2rem;
}

.p-wrap {
  font-family: "Lato", sans-serif;
  display: block;
  height: 105px;
  width: 680px;
  padding: 5%;
  background-color: #faf8f8;
  border-style: solid;
  border-color: white;
  color: #272a31;
}

.aboutme-contact-us {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #272a31;
}

.our-email {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #272a31;
  font-size: 20px;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    background-image: url(images/headerbg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 850px;
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .title-and-text {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .header-title-1 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 0;
    margin-top: 10px;
    color: #ec5242;
  }

  .header-title-2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 30px;
    padding: 0;
    margin-top: 10px;
    max-width: 300px;
    color: #ec5242;
  }

  .aboutme-header-hr {
    width: 25%;
    color: #ec5242;
    border-style: solid;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 1rem;
  }

  .p-wrap {
    font-family: "Lato", sans-serif;
    display: block;
    height: 195px;
    width: 340px;
    padding: 2%;
    line-height: 1rem;
    background-color: #faf8f8;
    border-style: solid;
    border-color: white;
    color: #272a31;
  }

  .aboutme-contact-us {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #272a31;
    margin-top: 1rem;
    max-width: 290px;
  }

  .our-email {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: #272a31;
    font-size: 15px;
    text-decoration: underline;
  }
}

.creative-commons {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.commons-h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #272a31;
  font-size: 25px;
}

.commons-hr {
  width: 3%;
  border-style: solid;
  border-color: #ec5242;
}

.commons-p {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #272a31;
  max-width: 40%;
}

.commons-logo {
  height: 250px;
}

.commons-hr-1 {
  width: 99%;
  border-style: solid;
  border-color: #272a312c;
}

.commons-h1-1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #272a31;
  font-size: 25px;
}

.commons-hr-2 {
  width: 3%;
  border-style: solid;
  border-color: #ec5242;
}

.commons-p-1 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #272a31;
  max-width: 40%;
}

.commons-img-wrap {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding: 0% 200px;
}

.commons-img-1 {
  background-image: url(/images/download.jpg);
  height: 150px;
  width: 320px;
  background-repeat: no-repeat;
  position: relative;
  left: 15px;
}

.commons-img-2 {
  background-image: url(images/download.jpg);
  background-repeat: no-repeat;
  position: relative;
}

.commons-orange {
  background-color: #ff4e3a93;
  height: 150px;
  width: 265px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.commons-img-year {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #fff;
  position: relative;
  top: 20px;
}

.commons-img-p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 11px;
  position: relative;
  bottom: 20px;
}

@media (max-width: 768px) {
  .commons-p {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    color: #272a31;
    max-width: 80%;
  }

  .commons-p-1 {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    color: #272a31;
    max-width: 80%;
  }

  .commons-hr-2 {
    width: 15%;
    border-style: solid;
    border-color: #ec5242;
  }

  .commons-hr {
    width: 15%;
    border-style: solid;
    border-color: #ec5242;
  }

  .commons-img-1 {
    background-image: url(images/download.jpg);
    background-repeat: no-repeat;
    position: relative;
  }

  .commons-img-2 {
    background-image: url(images/download.jpg);
    background-repeat: no-repeat;
    position: relative;
    right: 12px;
    margin-top: 1rem;
  }

  .commons-img-wrap {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 0% 20px;
  }
}

.partner-wrap {
  display: none;
  height: 120px;
  padding: 5% 15%;
  text-align: center;
  background-color: #272a31;
}

.partner-h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #d8d9db94;
}

.partner-hr {
  width: 5%;
  border-style: solid;
  color: #ec5242;
  border-top: none;
}

.partner-img-wrap {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.partner-img {
  height: 100px;
}

#partner-fb-img {
  height: 50px;
}

@media (max-width: 768px) {
  .partner-wrap {
    display: block;
    height: 250px;
    padding: 2% 2%;
    text-align: center;
    background-color: #272a31;
  }

  .partner-img-wrap {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .partner-img {
    height: 55px;
    margin: 5px;
  }

  #partner-fb-img {
    height: 15px;
  }
}

.footer-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: start;
  padding: 0 25%;
  color: white;
  background-color: #272a31;
}

.footer-img {
  height: 200px;
}

.footer-title-h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.footer-title-h1-1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: white;
  max-width: 650px;
}

@media (max-width: 768px) {
  .footer-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: start;
    padding: 0 15%;
    background-color: white;
  }

  .footer-img {
    height: 100px;
    margin: 15px;
  }

  .footer-title-h1 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #272a31;
  }

  .footer-title-h1-1 {
    display: none;
    color: #272a31;
  }

  .partner-hr {
    width: 13%;
    border-style: solid;
    color: #ec5242;
    border-top: none;
  }
}
