body {
  padding: 0;
  margin: 0;
}

.navheader {
  position: relative;
  background-color: #272a31;
  color: white;
  overflow: hidden;
  padding-right: 150px;
}

.icons-and-links {
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
  left: 75%;
}

#nav-header-icon {
  margin-left: 10px;
}

#nav-header-icon:hover {
  cursor: pointer;
}

.nav-header-links ul {
  display: flex;
  list-style: none;
}

.nav-header-links ul li {
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-header-links ul li a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  background-color: #fff;
  filter: drop-shadow(0 10px 0.85rem rgb(214, 214, 214));
}

.nav-brand-and-links {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0 0 0 20%;
}

.nav-brand {
  padding-left: 13%;
  display: block;
}

.web-logo {
  height: 120px;
  margin: 0;
  padding: 0;
}

.nav-bar-links {
  display: flex;
  position: relative;
  left: 430px;
}

.nav-bar-links ul {
  display: flex;
  list-style: none;
  margin-right: 1rem;
  padding: 0;
}

.nav-bar-links ul li {
  display: flex;
  margin-right: 10px;
  padding: 1rem;
}

.nav-bar-links ul li:nth-child(6) {
  color: red;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  border-style: solid;
  border-width: 5px;
}

.nav-bar-links ul li a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.nav-bar-links ul li a:hover {
  color: red;
}

.toggle-btn {
  height: 30px;
  width: 30px;
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.toggle-btn .bars {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: #272a31;
  display: none;
}

@media (max-width: 1600px) {
  .nav-brand {
    padding-left: 7%;
    display: block;
  }

  .nav-bar-links {
    display: flex;
    position: relative;
    left: 230px;
  }
}

@media (max-width: 1200px) {
  .nav-brand {
    padding-left: 0;
    display: block;
  }

  .nav-bar-links {
    display: flex;
    position: relative;
    left: 10px;
  }

  .nav-brand-and-links {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 0 0 10%;
  }
}

@media (max-width: 768px) {
  .navheader {
    display: none;
  }

  .nav-bar {
    background-color: #d1d1d1;
  }

  .nav-brand {
    display: none;
  }

  .toggle-btn .bars {
    display: block;
  }

  .nav-bar-links {
    display: none;
    margin-top: 50px;
  }

  .nav-bar-links ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-right: 1rem;
    padding: 0;
  }

  .nav-bar-links ul li {
    display: flex;
    margin-right: 20px;
    padding: 1rem;
  }

  .nav-bar-links ul li a {
    font-family: "lato", sans-serif;
    font-weight: 700;
    font-size: 25px;
  }

  .li:nth-child(6) {
    color: red;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    border-style: none;
  }

  .nav-bar-links.active {
    display: flex;
  }
}

.header {
  background-image: url(images/headerbg.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 850px;
  width: auto;
  padding-left: 20%;
  justify-content: start;
  align-items: center;
  text-align: start;
}

.title-and-text {
  position: relative;
  top: 100px;
}

.header-title-1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 50px;
  padding: 0;
  margin: 0;
  color: #ec5242;
}

.header-title-2 {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTePjMloJq5D9GVxJo3RGSTL19xJCsqBQ80JQ&usqp=CAU);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 80px;
  padding: 0;
  margin: 0;
  max-width: 1000px;
  color: #ec5242;
}

.p-wrap {
  font-family: "Lato", sans-serif;
  display: block;
  height: 75px;
  padding: 15px;
  width: 680px;
  background-color: #faf8f8;
  border-style: solid;
  border-color: white;
  color: #272a31;
}

.time-and-date {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #272a31;
}

.place {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #272a31;
  font-size: 20px;
}

@media (max-width: 768px) {
  .header {
    height: 750px;
    padding-left: 1rem;
  }

  .title-and-text {
    position: relative;
    top: 200px;
  }

  .header-title-1 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: #ec5242;
  }

  .header-title-2 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTePjMloJq5D9GVxJo3RGSTL19xJCsqBQ80JQ&usqp=CAU);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 40px;
    padding: 0;
    margin: 0;
    max-width: 1000px;
    color: #ec5242;
  }

  .p-wrap {
    font-family: "Lato", sans-serif;
    display: block;
    height: 100px;
    width: 330px;
    padding: 5px;
    background-color: #faf8f8;
    border-style: solid;
    border-color: white;
    color: #272a31;
  }

  .title-p {
    font-family: "Lato", sans-serif;
  }

  .time-and-date {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #272a31;
  }

  .place {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #272a31;
    font-size: 13px;
  }
}

.program {
  height: 600px;
  padding: 5% 5%;
  background-color: #272a31;
  background-image: url(images/download.png);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.program-h1 {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  width: 360px;
}

.program-hr {
  width: 5%;
  position: relative;
  border-style: solid;
  border-color: #ec5242;
  margin-top: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.cards-wrap {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.card {
  background-color: #d1d1d111;
  width: 200px;
  height: 250px;
  padding: 25px;
  margin: 1px;
  text-align: center;
  align-items: center;
}

.card:hover {
  border-style: solid;
  border-color: white;
}

.card-img {
  height: 75px;
}

.card-title {
  color: #ec5242;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.card-p {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-top: 2rem;
  line-height: 1.5;
}

.card-footer-h1 {
  margin-top: 5rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-decoration: underline;
  color: #fff;
  width: 360px;
  position: center;
}

.card-footer-h1:hover {
  cursor: pointer;
}

@media (max-width: 700px) {
  .program {
    height: 720px;
  }

  .cards-wrap {
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 5rem;
  }

  .program-h1 {
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    margin-top: 20px;
    padding: 0;
    width: 360px;
  }

  .card {
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: space-evenly;
    background-color: #d1d1d111;
    width: 340px;
    height: 70px;
    padding: 5px;
    margin: 5px;
  }

  .card-title {
    color: #ec5242;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 5px;
    text-align: start;
    display: block;
  }

  .card-p {
    color: #fff;
    display: block;
    margin: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    width: 180px;
    align-items: center;
    margin-left: 15px;
    padding: 3px;
    line-height: 1.5;
    font-size: 10px;
  }

  .card-img {
    margin: 5px;
    height: 45px;
  }

  .card-footer-h1 {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: #ec5242;
    margin-top: 2rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    width: 300px;
    height: 80px;
    position: center;
  }

  .program-hr {
    width: 20%;
    position: relative;
    border-style: solid;
    border-color: #ec5242;
    margin-top: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

.speakers-container {
  height: 1000px;
  display: block;
  overflow: hidden;
}

.title-hr-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.speakers-title {
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-weight: 700;
}

.speaker-top-hr {
  border-style: solid;
  border-color: #ec5242;
  width: 5%;
}

.speakers-wrap {
  display: flex;
  justify-content: space-around;
  text-align: start;
  align-items: center;
  padding-left: 350px;
  padding-right: 350px;
  margin-top: 2rem;
}

.speaker {
  display: flex;
  padding: 5px;
  margin: 0;
}

.imgs-wrap {
  position: relative;
}

.speaker-background {
  height: 100px;
  margin-right: 5rem;
}

.speaker-profile {
  position: absolute;
  height: 165px;
  left: 1.5rem;
  top: 1.5rem;
}

.speaker-name {
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-weight: 700;
}

.speaker-p {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: italic;
  color: #ec5242;
}

.spaker-hr {
  border-style: solid;
  color: #d1d1d1;
  width: 30px;
  margin: 0;
  padding: 0;
  position: relative;
}

.speaker-bottom-p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #272a31;
  max-width: 50ch;
}

.see-more-wrap {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.speaker-more-btn {
  display: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .speakers-container {
    height: 430px;
  }

  .speakers-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2rem;
  }

  .speaker-more-btn {
    position: center;
    display: block;
    border-style: solid;
    border-radius: 5px;
    border-color: #d1d1d1;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #272a31;
    width: 90%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: transparent;
  }

  .speaker-more-btn:active {
    background-color: #272a31;
    color: white;
  }

  .speaker-background {
    height: 55px;
    margin-right: 5rem;
  }

  .speaker-profile {
    position: absolute;
    height: 115px;
    left: 0.5rem;
    top: 1rem;
  }

  .speaker-name-text {
    padding: 0;
    margin: 0;
  }

  .speaker-name {
    font-family: "Lato", sans-serif;
    color: #272a31;
    font-weight: 700;
    font-size: 15px;
  }

  .speaker-bottom-p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #272a31;
    max-width: 175ch;
    font-size: 13px;
  }

  .speaker-p {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: italic;
    max-width: 175ch;
    color: #ec5242;
    font-size: 13px;
  }

  .imgs-wrap {
    position: relative;
    width: 40%;
  }

  .speakers-container.active {
    height: 1100px;
  }
}

.partner-wrap {
  height: 120px;
  padding: 5% 15%;
  text-align: center;
  background-color: #272a31;
}

.partner-h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #d8d9db94;
}

.partner-hr {
  width: 5%;
  border-style: solid;
  color: #ec5242;
  border-top: none;
}

.partner-img-wrap {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.partner-img {
  height: 100px;
}

#partner-fb-img {
  height: 50px;
}

@media (max-width: 768px) {
  .partner-wrap {
    height: 250px;
    padding: 2% 2%;
    text-align: center;
    background-color: #272a31;
  }

  .partner-img-wrap {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .partner-img {
    height: 55px;
    margin: 5px;
  }

  #partner-fb-img {
    height: 15px;
  }
}

.footer-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: start;
  padding: 0 25%;
}

.footer-img {
  height: 200px;
}

.footer-title-h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.footer-title-h1-1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  max-width: 650px;
}

@media (max-width: 768px) {
  .footer-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: start;
    padding: 0 15%;
  }

  .footer-img {
    height: 100px;
    margin: 15px;
  }

  .footer-title-h1 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #000000;
  }

  .footer-title-h1-1 {
    display: none;
  }
}
